.input {
    background-color: white;
    margin: 16px;
    padding: 16px;
    border: 2px solid rgb(151,129,60);
    color: rgb(26,43,66);
    border-radius: 10px;
    box-shadow: 1px 1px 4px black;
}

.enter {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
    
    
}

.btn {
    border: none;
    box-shadow: 1px 1px 4px black;
    border-radius: 15px;
    cursor: pointer;
    background: rgb(151,129,60);
    color: white;
    padding: 8px;
    min-width: 75px
}

.center-button {
    display: flex;
    justify-content: center;
}

.enter-short {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.right-button {
    display: flex;
    justify-content: flex-end;
}


.header {
    padding: 16px;
    
}

.body {
    padding: 16px;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(../login-test/img/er-bkgrnd-img.jpeg);
}

.text-body {
    background-color: white;
    font-family: sans-serif, Cambria;
    color: rgb(26,43,66);
    margin: 16px;
    padding: 16px
}

.sub-header {
    color: rgb(151,129,60)
}

.main-header {
    font-weight: normal;
    padding: 16px;
}

.box-info {
    background-color: white;
    margin: 16px;
    padding: 16px;
    border: 2px solid rgb(151,129,60);
    color: rgb(26,43,66);
    border-radius: 10px;
    height: 400px;
}

#sub-info {
    margin: 16px;
    align-items: flex-end;
}

.error {
    color: red;
}

.confirm-update {
    margin: 16px;
    height: 150px;
    width: 300 px;
}

.accordian {
    max-width: 1100px;
}

.accordian .contentBx {
    position: relative;
    margin: 10px 20px;
}

.accordian .contentBx .label {
    position: relative;
    padding: 10px;
    background: rgb(26,43,66);
    color: white;
    cursor: pointer;
}

.accordian .contentBx .label::before {
    content: "+";
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 1.5em;
}

.accordian .contentBx.active .label::before {
    content: "-";
}

.accordian .contentBx .content {
    position: relative;
    background: lightslategray;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
    transition: 0.5s;
    overflow-y: auto;
 }

 .accordian .contentBx.active .content {
    max-height: 500px;
    padding: 10px;
 }

 .inner-content {
    color: rgb(26,43,66);
    flex-wrap: wrap;
    list-style-type: none;
 }

 .list-item {
    border-radius: 15px;
    background-color: white;
    padding: 8px;
    margin: 8px;
    width: 100px;
    box-shadow: 2px 2px 5px black;
    cursor: pointer;
 }

 .list-item:hover {
    background-color: lightgray;
    cursor: pointer;
    transition: ease-in;
 }

 #drop-file {
    height: 300px;
    width: 300px;
    background-color: white;
    border-color: rgb(151,129,60);
    border-radius: 15px;
    margin: 16px;
    box-shadow: 2px 2px 5px black;
    text-align: center;

 }

 #drop-file:hover {
    background-color: lightgray;
    transition: 0.2s;
 }
 
 .csv-form {
    display: flex;
    justify-content: center;
 }
 